body {
    background-color: rgb(226, 255, 245);
}

h1 {
    color: white;
    text-align: center;
    font-family: cursive;
    border: 1px solid;
    padding: 10px;
    background-color: rgb(1, 58, 1);
}

#img_Eu1 {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    left: 380px;
    top: 3%;
}

p {
    text-align: center;
}

#img_redonda1 {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 40px;
    border: 2px solid;
}

#video_asa {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 260px;
    border: 2px solid;
    overflow: hidden;
}

#img_redonda2 {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 470px;
    border: 2px solid;
}

#video_jabut {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 470px;
    border: 2px solid;
    overflow: hidden;
}

#img_redonda3 {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 260px;
    border: 2px solid;
}

#video_lago {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 40px;
    border: 2px solid;
    overflow: hidden;
}

.hobbies {
    margin-top: 80px;
    margin-left: 30px;
}

.tabela {
    text-align: center;
    position: absolute;
    right: 30px;
    top: 370px;
    border: 1px solid black;
}

.caixinha {
    color: rgb(255, 255, 255);
    margin-left: 35px;
    background-color: rgb(1, 58, 1);
    padding: 3px;
    border-radius: 5%;
    text-decoration: none;
}

.caixinha:hover {
    background-color: rgb(23, 148, 250);
}

.container {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 600px) {
  .foto {
    width: 100px;
    height: 100px;
  }
}
